$width-sm: 576;
$width-md: 768;
$width-lg: 992;
$width-xl: 1200;
$width-xxl: 1500;


@mixin sm {
  @media only screen and (min-width: $width-sm * 1px) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: $width-md * 1px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: $width-lg * 1px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: $width-xl * 1px) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: $width-xxl * 1px) {
    @content;
  }
}
